<template>
    <div>
        <body class="hold-transition login-page">
            <router-view></router-view>
        </body>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>