<template>
    <div>
        
        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">

                <div class="preloader flex-column justify-content-center align-items-center">
                     <img class="animation__shake" src="../../../node_modules/admin-lte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
                </div>

                 <!--Admin topbar go here-->
                <Topbar/>
                 
                 <!--Admin Sidebar go here-->
                 <Sidebar/>
                 
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="m-0">Dashboard</h3>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>


                    <section class="content">
                        <router-view></router-view>
                    </section>

                </div>

                <!-- Admin footer go here-->
                <Footer/>
    

            </div>
        </body>

    </div>
</template>

<script>
    import Topbar from '../../components/Admin/Topbar.vue';
    import Sidebar from '../../components/Admin/Sidebar.vue';
    import Footer from '../../components/Admin/Footer.vue';
    export default {
        components:{
            Topbar,
            Sidebar,
            Footer
        }
    }
</script>

<style lang="scss" scoped>

</style>